{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}

<div class="jumbotron">
	<h1><img src="{% static "resources/logo.png" %}" alt="MS Amlin"/>       eNRG</h1>
	<p class="lead">electronic Natural, Renewable, GeoThermal Platform </p>
</div>

<div class="row">
	<div class="col-md-2">
		<h2>Underwriter Information</h2>
		<p>
			<i>Implement Underwriter profile</i>
		</p>
	</div>
	<div class="col-md-8">
		<h2>Plant Location Search</h2>
     <div class="form">               
        <form method="POST" class="control-label">
            {% csrf_token %}
            <p class="col-md-2">
                <label>Country </label>{{ form.Country }}</p>
            
            <p class="col-md-2">
                <label>State </label>{{ form.State }}</p>
            <p class="col-md-2">
                <label>City </label>{{ form.City }}</p>
            <p class="col-md-2">
                <label>Well </label>{{ form.Well }}</p>
            <p><button type="submit" class="btn btn-default">Save</button></p>
    </form>
         </div>      
        
	</div>
	<div class="col-md-2">
		<h2>Well Information</h2>
		<p>
            <i>Implement Search Output - Well</i>
		</p>
		<p><a class="btn btn-default" href="http://www.google.co.uk"> <img src="{% static "resources/google-logo-SMALL.png" %}"/></a></p>
	</div>
</div>


<div class="row">
	<div class="col-md-2">
		<h2>Social Media Information</h2>
				<p>
            <i>Implement Social Media Stub</i>
		</p>
	</div>
	<div class="col-md-8">
		<h2>Map <i>Implement Responsive Map</i></h2>
		<img src="{% static "resources/capture.png" %}" alt="M & A" />
	</div>
	<div class="col-md-2">
		<h2>Geological Information</h2>
				<p>
            <i>Implement Search Output - Geology</i>
		</p>
	</div>
	</div>
<div class="row">
	<div class="col-md-4">
		<h2>Existing Policies in Region</h2>
				<p>
            <i>Implement Policy Stub</i>
		</p>
	</div>
	<div class="col-md-4">
		<h2>Existing Policies for Insured</h2>
				<p>
            <i>Implement Policy Stub</i>
		</p>
	</div>
	  <div class="col-md-4">
		<h2>Risk Profile</h2>
				<p>
            <i>Implement Risk Output</i>
		</p>
	</div>
    </div>



{% endblock %}
